@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --background-color: #ecf0f1;
    --text-color: #333;
    --border-color: #bdc3c7;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: var(--secondary-color);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    border-left: 4px solid var(--primary-color);
    padding-left: 1rem;
}

h3 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

p {
    margin-bottom: 0.8rem;
}

strong {
    color: var(--secondary-color);
}

.despesas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.chart-container {
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.icon {
    width: 15px;
    
    
    
}

.img-comp {
    width: 150px;
    margin-left: 2.5rem;
    transform: rotate(270deg);
    border-radius: 5px;

}

.comp {
    width: 150px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #617685;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}